@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

a,
.indigo {
  text-decoration: none;
  color: var(--vt-c-indigo-soft);
  transition: 0.4s;
  padding: 3px;
}

button {
  background: var(--vt-c-indigo);
  border-radius: 999px;
  box-shadow: var(--vt-c-indigo) 0 10px 20px -10px;
  box-sizing: border-box;
  color: var(--vt-c-text-dark-2);
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

button:disabled,
button[disabled]{
  background: black;
  cursor: default;
  pointer-events: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(56, 100%, 37%, 0.2);
  }
  button:hover {
    background-color: var(--vt-c-yellow);
  }
}

.flex-container{
  display: flex;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
